<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd"
	default-lazy-init="false">

	<description>Spring主要配置文件 </description>

	<!-- 使用注解的配置 -->
	<task:annotation-driven />

	<bean id="propertyPlaceholderConfigurer"
		class="com.dosport.spring.beans.factory.config.ExtendedPropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:config/system.dev.properties</value>
			</list>
		</property>
	</bean>
	
	<context:component-scan base-package="com.dosport.remoting.httpinvoker"  />
	<context:component-scan base-package="com.dosport.service.remoting"  />
	
	<context:component-scan base-package="com.dosport.service.psn" scoped-proxy="interfaces"  />
	<context:component-scan base-package="com.dosport.dao.psn" scoped-proxy="targetClass"  />
	
	<context:component-scan base-package="com.dosport.service.activity" scoped-proxy="interfaces"  />
	<context:component-scan base-package="com.dosport.dao.activity" scoped-proxy="targetClass"  />
	
	<context:component-scan base-package="com.dosport.service.attachment" scoped-proxy="interfaces"  />
	<context:component-scan base-package="com.dosport.dao.attachment" scoped-proxy="targetClass"  />


	<!-- 用户的密码加密或解密 -->
	<bean id="passwordEncoder"
		class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />

</beans>
