<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Archetype Created Web Application</display-name>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Spring刷新Introspector防止内存泄露   -->  
	<listener>   
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>    
	</listener>
	
	<servlet>
       <servlet-name>httpRemoting</servlet-name>
       <servlet-class>com.dosport.remoting.httpinvoker.RemotingHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>httpRemoting</servlet-name>
       <url-pattern>/remoting/*</url-pattern>
    </servlet-mapping>
    
    <!-- session超时定义,单位为分钟  -->
	<session-config>
		<session-timeout>2</session-timeout>
	</session-config>
  
</web-app>
